@model IEnumerable<ITMO.ASP.NET.EXAM.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IT University</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Top Down", "TopDown") |
    @Html.ActionLink("Скачать список студентов", "CreateFile")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discipline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisciplineRate)
        </th>
        <th>
            Функция
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discipline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplineRate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>


